name: Android

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - 'v*'

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: yarn-cache
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .yarn/install-state.gz
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}-${{ hashFiles('**/package.json', '!node_modules/**') }}
          restore-keys: |
            ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
            ${{ runner.os }}-yarn-
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: android-actions/setup-android@v2
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r21d
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - run: |
          npm install -g detox-cli
          npm install -g yarn
          npm install -g node-gyp
      - if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --immutable
        shell: bash
      - run: yarn example build:android
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
      - run: |
          du -sch ./*
          du -sch ./android/*
          du -sch ./example/android/*
          du -sch ./example/android/app/*
          du -sch ~/.gradle
          du -sch /usr/local/lib/android/*
          du -sch /usr/local/lib/android/sdk/*
          rm -rf  ~/.gradle
      - run: yarn example start &
        timeout-minutes: 10
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          avd-name: PhoneAPI30
          disk-size: 1024M
          disable-animations: true
          script: yarn example test:android
